files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            BACKEND_JAR_PATH=/var/app/current/ski-0.0.1-SNAPSHOT.jar
            SSE_JAR_PATH=/var/app/current/sse-server-0.0.1-SNAPSHOT.jar
            FRONTEND_PATH=/var/app/current/frontend

            # run api server
            java -Dspring.profiles.active=prod -Dfile.encoding=UTF-8 -jar $BACKEND_JAR_PATH
            java -Dspring.profiles.active=prod -Dfile.encoding=UTF-8 -jar $SSE_JAR_PATH

            # node install
            curl -sL https://deb.nodesource.com/setup_18.x | sudo bash -
            sudo apt install nodejs
            sudo apt-get update
            sudo apt-get install nodejs

            # start frontend app
            cd FRONTEND_PATH
            yarn start