files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            FRONTEND_PATH=/var/app/current/frontend

            # node install
            curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.34.0/install.sh | bash
            . ~/.nvm/nvm.sh
            nvm install 8.0.0
            npm install yarn -g


            # start frontend app
            cd FRONTEND_PATH
            yarn start