@font-face {
  font-family: "nanum-square";
  src: url("../src/assets/fonts/nanum-square/NanumSquare_acB.ttf");
}
@font-face {
  font-family: "nanum-eco";
  src: url("../src/assets/fonts/nanum-gothic-eco/NanumGothicEco.otf");
}

body {
  background-color: #E1EEFF;
  background-color: #EEF3F7;
  padding-top:30px;
  padding-bottom: 50px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'nanum-square';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color: #EEF3F7;
  --button-color: #002060;
  --button-sub-color: #ABBCC9;
}